
/*General styles*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --white: white;
    --grayblue: #2a607c;

}
body {
    background-color: #d9dcd6;
}
/*HEADER*/

/*changed this from a class to just 'header' */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:var(--grayblue);
    color: var(--white);
}
/* h1 does not need to be a class */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* took out the header class, and just made this a class. added font size to be bigger than the other letters in the header. Changed the color to stand out more. */
header h1 .seo {
    font-size:78px;
    color: #cc5500 ;
}
/*changed div to nav and removed the . infront of header*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*changed div to nav and took out the . infront of header*/
header nav ul {
    list-style-type: none;

}
/*changed div to nav and took out the . infront of header*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
   
}

/*text styles*/

a {
    color: var(--white);
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*Hero class div with a background image */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Floats*/

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*main*/
/* changed this from a class to 'main' */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*benefits section*/

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* combined the 3 benefit section classes into one class called .benefit*/
.benefit {
    margin-bottom: 32px;
    color:var(--white);
}


/* combined 3 benefit h3 classes into one class '.benefit h3' */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* combined 3 benefit img classes into one class called '.benefit img' */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*services class section*/

/*changed the class name and combined 3 classes into one*/
.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:var(--grayblue);
    color:var(--white);
}

/*changed name of class and combined 3 classes*/
.service img{
    max-height: 200px;
}

/*changed name of class and combined 3 classes in h2 into one*/
.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Footer Section*/
/*does not need to be a class*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*took out the class*/
footer h2{
    font-size: 20px;
}

/*Media Queries*/
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */


}
/* media query for larger screens */
@media screen and (min-width: 992px){
    nav ul {
        
    }
    body{
        background-color:darkslategrey;
    }
    
    header {
        background-color: #cc5500;
        font-size: 70px;
        position: center;

    }
    header h1{
        font-size: 60%;
        float: center;

    }
    header h1 .seo {
        font-size: 90px;
        color:#2a607c;

        }
    header nav ul{
        color: #2a607c;
        background-color: #cc5500;
        font-size:20px;
        width: 100%;

    }
    header nav ul li {
        float: none;
        width: 100%;
    }
    p {
        font-size: 23px;

    }
    .hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    }

    .float-left{
        margin-right:20%;
    }

    .float-right{
        margin-left: 20%;
    }

    main{
        margin-left: 30px;
        flex: wrap;
    }
}    